# Project Python Part 5 (Kelompok 7)

Anggota Kelompok :


1. Adhytia Mahardhyka Putra Susanto
2. Balkis Budi Islamiati
3. Nazuwa Aulia
4. Sarah Nurmalawati

# Task 1: Basic OOP


#### Buatlah class MarketingDataETL yang memiliki tiga metode:

*   extract(): akan membaca data dari sebuah file CSV (Misalkan, marketing_data.csv)
*   transform(): akan melakukan pembersihan dan transformasi sederhana pada data (seperti mengubah format tanggal atau membersihkan nilai yang kosong)
*   store(): akan menyimpan data yang telah ditransformasi ke dalam struktur data DataFramet.

In [ ]:
import pandas as pd

class MarketingDataETL():
    def __init__(self):
        self.data = pd.read_csv("marketing_data.csv", sep=';')

    def extract(self):
        print("Data Before Transform:")
        print(self.data)
        return self.data

    def transform(self):
        if 'purchase_date' in self.data.columns:
            self.data.dropna(subset=['purchase_date'], inplace=True)
            self.data['purchase_date'] = pd.to_datetime(self.data['purchase_date'], errors='coerce')
            print("Data After Transform:")
            print(self.data)
        return self.data

    def store(self):
        if hasattr(self, 'data'):
            self.data.to_csv('marketing_data_processed.csv', index=False)
            print("Data stored successfully as CSV.")
        else:
            print("Data storage failed. Please check the file and try again.")

data = MarketingDataETL()
data_before_transform = data.extract()
data_after_transform = data.transform()
data.store()

Data Before Transform:
  customer_id purchase_date product_category  amount_spent
0        C001      01/03/23      Electronics        250.00
1        C002      02/03/23            Books         45.50
2        C003      03/03/23    Home & Garden        150.75
3        C001      04/03/23            Books         20.00
4        C002      05/03/23      Electronics        525.00
5        C004           NaN      Electronics        399.99
6        C003           NaN            Books         10.50
7        C005      07/03/23           Beauty         75.00
Data After Transform:
  customer_id purchase_date product_category  amount_spent
0        C001    2023-01-03      Electronics        250.00
1        C002    2023-02-03            Books         45.50
2        C003    2023-03-03    Home & Garden        150.75
3        C001    2023-04-03            Books         20.00
4        C002    2023-05-03      Electronics        525.00
7        C005    2023-07-03           Beauty         75.00
Data stored successfully as CSV.

# Task 2 : Inheritance & Polymorphism

* Gunakan inheritance untuk membuat class TargetedMarketingETL yang mewarisi dari MarketingDataETL.

*   Tambahkan metode segment_customers() yang mengelompokkan pelanggan berdasarkan kriteria tertentu (misalnya, pengeluaran total atau kategori produk yang dibeli).

*   Demonstrasi polymorphism dengan meng-override metode transform() dalam TargetedMarketingETL untuk menambahkan logika segmentasi pelanggan ke dalam proses transformasi.

In [ ]:
import numpy as np

class MarketingDataETL():
    def __init__(self):
        self.data = pd.read_csv('marketing_data.csv', sep=';')

    def extract(self):
        print("Data Before Transform:")
        print(self.data)
        return self.data

    def transform(self):
        if 'purchase_date' in self.data.columns:
            self.data.dropna(subset=['purchase_date'], inplace=True)
            self.data['purchase_date'] = pd.to_datetime(self.data['purchase_date'], errors='coerce')
            print("Data After Transform:")
            print(self.data)
        return self.data

class TargetedMarketingETL(MarketingDataETL):
    def __init__(self):
        super().__init__()

    def segment_customers(self):
        if self.data is not None:
            conditions = [
                (self.data['amount_spent'] <= 100),
                (self.data['amount_spent'] > 100) & (self.data['amount_spent'] <= 200),
                (self.data['amount_spent'] > 200)
            ]
            choices = ['Low Spending', 'Medium Spending', 'High Spending']
            self.data['spending_segment'] = pd.Series(np.select(conditions, choices), index=self.data.index)
            print("Segmenting Customers Based on Spending:")
            print(self.data)

    def transform(self):
        super().transform()
        self.segment_customers()

    def store_segmented_data(self, output_file_path):
        if self.data is not None:
            try:
                self.data.to_excel(output_file_path, index=False)
                print(f"Segmented Data Successfully Saved To {output_file_path}")
            except Exception as e:
                print(f"Error Saving Segmented Data: {e}")

targeted_marketing_etl = TargetedMarketingETL()
targeted_marketing_etl.extract()
targeted_marketing_etl.transform()
targeted_marketing_etl.store_segmented_data("segmented_data_etl.xlsx")

Data Before Transform:
  customer_id purchase_date product_category  amount_spent
0        C001      01/03/23      Electronics        250.00
1        C002      02/03/23            Books         45.50
2        C003      03/03/23    Home & Garden        150.75
3        C001      04/03/23            Books         20.00
4        C002      05/03/23      Electronics        525.00
5        C004           NaN      Electronics        399.99
6        C003           NaN            Books         10.50
7        C005      07/03/23           Beauty         75.00
Data After Transform:
  customer_id purchase_date product_category  amount_spent
0        C001    2023-01-03      Electronics        250.00
1        C002    2023-02-03            Books         45.50
2        C003    2023-03-03    Home & Garden        150.75
3        C001    2023-04-03            Books         20.00
4        C002    2023-05-03      Electronics        525.00
7        C005    2023-07-03           Beauty         75.00
Segmenting Customers Based on Spending:
  customer_id purchase_date product_category  amount_spent spending_segment
0        C001    2023-01-03      Electronics        250.00    High Spending
1        C002    2023-02-03            Books         45.50     Low Spending
2        C003    2023-03-03    Home & Garden        150.75  Medium Spending
3        C001    2023-04-03            Books         20.00     Low Spending
4        C002    2023-05-03      Electronics        525.00    High Spending
7        C005    2023-07-03           Beauty         75.00     Low Spending
Segmented Data Successfully Saved To segmented_data_etl.xlsx